<% @lists.each do |list| %>
  <h2><%= link_to list.name, list_path(list) %></h2>
<% end %>

<%= link_to "Create a new List", new_list_path %>
<%= cl_image_tag("dycityyjfmbs5ouzlwct", width: 400, height: 300, crop: :fill) %>
